FORMBEAN ICON "ICON\\2.ico"
LIBBEAN ICON "ICON\\3.ico"
HOSTAPP ICON "ICON\\4.ico"
HOSTFORMUNIT RCDATA "template\\HOSTFORMUNIT.txt"
HOSTPROJ RCDATA "template\\HOSTPROJ.txt"
HOSTFORM RCDATA "template\\HOSTFORM.txt"
BEANFORM RCDATA "template\\BEANFORM.txt"
BEANFORMUNIT RCDATA "template\\BEANFORMUNIT.txt"
PACKAGEPROJ RCDATA "template\\PACKAGEPROJ.txt"
LOGICBEAN RCDATA "template\\LOGICBINUNIT.txt"
DLLBEAN ICON "ICON\\6.ico"
BEAN ICON "ICON\\7.ico"
DLLPROJ RCDATA "template\\DLLPROJ.txt"
BEANINTERFACE ICON "ICON\\1.ico"
BEANINTERFACEUNIT RCDATA "template\\BEANINTERFACEUNIT.txt"
